*{
	overflow: hidden;
}
body{
	margin:0;
	padding:0;
}

#warning-message { display: none; }
#container{ display:none; }
@media only screen and (orientation:portrait){
   #container{ display:none; }
   #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
/* swap this later - on deployment*/
	#container{ display: block; }
   #warning-message { display:none; }
}
